extends ../layout

block content
    .row 
        textarea.col-lg-8.text-editor
        .col-sm-4.starter(data-starter=challenge.starterCode, data-cid=challenge._id)
            h1 #{challenge.title} - #{challenge.difficulty}
            p !{challenge.prompt}
            button.btn.btn-primary.submit-button Submit!
        .col-sm-4.starter
            .panel.panel-default.answers
                .panel-heading Results
                .panel-body Press submit to test code!
                    svg.q_checkmark(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52")
                        circle.q_checkmark_circle(cx="26" cy="26" r="25" fill="none")
                        path.q_checkmark_check(fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8")
    

//- Page where students will see a text editor and a prompt and will have to submit a challenge